<div class="col-md-6">
  <h1>Add Trip</h1>

  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="code">Trip Code</label>
      <input id="code" type="text" formControlName="code" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['code'].errors }">
      <div *ngIf="submitted && f['code'].errors" class="invalid-feedback">
        Trip Code is required
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
        Name is required
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="length">Length</label>
      <input id="length" type="text" formControlName="length" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['length'].errors }">
      <div *ngIf="submitted && f['length'].errors" class="invalid-feedback">
        Length is required
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="start">Start</label>
      <input id="start" type="datetime-local" formControlName="start" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['start'].errors }">
      <div *ngIf="submitted && f['start'].errors" class="invalid-feedback">
        Start date is required
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="resort">Resort</label>
      <input id="resort" type="text" formControlName="resort" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['resort'].errors }">
      <div *ngIf="submitted && f['resort'].errors" class="invalid-feedback">
        Resort is required
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="perPerson">Price Per Person</label>
      <input id="perPerson" type="number" step="0.01" min="0" formControlName="perPerson" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['perPerson'].errors }">
      <div *ngIf="submitted && f['perPerson'].errors" class="invalid-feedback">
        Price per person is required
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="image">Image Filename</label>
      <input id="image" type="text" formControlName="image" class="form-control"
        placeholder="reef1.jpg"
        [ngClass]="{ 'is-invalid': submitted && f['image'].errors }">
      <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
        Image filename is required
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="description">Description</label>
      <textarea id="description" rows="6" formControlName="description" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
      <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
        Description is required
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Add Trip</button>
    &nbsp;
    <button class="btn btn-secondary" type="button" (click)="router.navigate(['/'])">Cancel</button>
  </form>
</div>
